body{
    background-color:rgb(181, 207, 198);
}

h1 {
    color: rgb(126, 140, 137);
}

#show_sketch {
    float: right;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px white;
    }

    to {
        box-shadow: 1px 1px 38px white;
    }
}

p {
    padding-top: 10px;
    font-size: 25px;
}
#score{
    font-size: 50px;
    margin-left: 5px;
}
#timer{
    float: right;
    font-size:50px;
    margin-right: 5px;
}